<div class="row">
    <div class="col-md-12">
        <div class="card bg-dark">
            <div class="card-body">
                <ul class="nav themed">
                    {% for name, route in userAdminRoutes %}
                    <li class="nav-item">
                        <a class="nav-link{% if name == config.activeController.sub|last %} active{% endif %}" href="{{ route.url }}">{{ route.text }}{% if name == config.activeController.sub %} <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>