<ul class="nav">
    <li class="nav-item{% if 'admin.debug' == config.activeController.sub %} active{% endif %}">
        <a class="nav-link" href="{{ absolute_url(path('admin.debug')) }}">
            <i class="tim-icons icon-atom"></i>
            Geeky Stuff
        </a>
    </li>
    <li class="nav-item{% if 'admin.log' == config.activeController.sub %} active{% endif %}">
        <a class="nav-link" href="{{ absolute_url(path('admin.log')) }}">
            <i class="tim-icons icon-notes"></i>
            Log Files
        </a>
    </li>
</ul>