<ul class="nav">
    <li class="nav-item{% if 'playground.index' == config.activeController.sub %} active{% endif %}">
        <a class="nav-link" href="{{ absolute_url(path('playground.index')) }}">
            <i class="tim-icons icon-atom"></i>
            Geeky Stuff
        </a>
    </li>
    <li class="nav-item{% if 'playground.icons' == config.activeController.sub %} active{% endif %}">
        <a class="nav-link" href="{{ absolute_url(path('playground.icons')) }}">
            <i class="tim-icons icon-molecule-40"></i>
            CSS Icons
        </a>
    </li>
    <li class="nav-item{% if 'playground.photos' == config.activeController.sub %} active{% endif %}">
        <a class="nav-link" href="{{ absolute_url(path('playground.photos')) }}">
            <i class="tim-icons icon-image-02"></i>
            CSS Photos
        </a>
    </li>
</ul>
